*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body{
    background-color: #1e1f20;
    height: 100vh;
  }
  
  
  
  /* Mengatur tampilan sidebar */
  .sidebar {
    width: 100;
    height: 100vh;
    background: linear-gradient(to bottom, #4b3e35, #223744);
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
  }
  
  /* Mengatur tampilan logo */
  /* .logo img {
    display: block;
    margin: 0 auto 20px auto;
  } */
  
  /* Mengatur bagian menu */
  .menu {
    margin-bottom: 20px;
  }
  
  .menu h5 {
    color: rgb(160, 149, 149);
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 15px;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .menu ul li i {
    margin-right: 10px;
    /* Anda bisa menambahkan ikon di sini dengan font-awesome atau ikon lainnya */
  }
  
  .menu ul li:hover a {
    color: #55ca86; /* Warna saat hover */
  }
  
  /* Mengatur tombol logout */
  .sidebar .logout {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
  }
  
  .sidebar .logout:hover {
    color: #55ca86;
  }
  
  /* log out */
  .logout-section {
    margin-top: auto; /* Menggeser LOG OUT ke bagian paling bawah */
    text-align: center;
    padding-top: 50px;
  }
  
  .logout {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  
  .logout:hover {
    color: #777cae;
  }
  
  /* Mengatur header */
  .header {
    background-color: #000;
    height: 60px;
    width: calc(100% - 210px); /* Lebar header dikurangi lebar sidebar */
    margin-left: 210px; /* Menghindari tumpang tindih dengan sidebar */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Tetap berada di atas */
    top: 0;
    z-index: 1; /* Agar header berada di atas konten lainnya */
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
  }
  
  /* Style untuk ikon (home dan profile) */
  /* .login{
    color: white;
  }
  
  .login button{
    background-color: #202026;
    font-weight: bold;
    list-style: none;
    padding: 12px;
    border-radius: 10px;
  }
  
  .login a{
    color: white;
    text-decoration: none;
  }
  
  .icon-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
  } */
  
  /* login */
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center button {
    padding: 9px 30px;
    font-size: 15px;
    font-weight: 600;
    background-color: #4d4d4d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 900px;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 380px;
    padding: 20px 30px;
    background: #2b2f33;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 100;
  }
  
  .popup.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .popup .form h2 {
    text-align: center;
    color: #ffffff;
    margin: 10px 0 20px;
    font-size: 25px;
  }
  
  .popup .form .form-element {
    margin-bottom: 15px;
  }
  
  .popup .form .form-element label {
    font-size: 14px;
    color: #fdfdfd;
  }
  
  .popup .form .form-element input[type="text"],
  .popup .form .form-element input[type="password"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: rgb(85, 92, 87);
  }
  
  .popup .form .form-element input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .popup .form .form-element button {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 16px;
    background: #55ca86;
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .popup .form .form-element a {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #888;
    text-decoration: none;
  }
  
  .form-element1{
    text-align: center;
  }
  
  .reg{
    text-align: center;
  }
  
  .reg a{
    text-decoration: none;
    color: white;
  }
  
  /* register */
  
  
  /* Mengatur kotak pencarian */
  .search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .search-bar input {
    width: 40%;
    padding: 10px 15px;
    border-radius: 9px;
    border: none;
    background-color: #555;
    color: white;
    font-size: 16px;
  }
  
  .search-bar input::placeholder {
    color: #ccc;
  }
  
  
  .container2{
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1f20;
  }
  
  .container2 img{
    border-radius: 10px;
    margin-left: -10px;
  }
  
  .music_player{
    background: #0000008e;
    padding: 25px 35px;
    text-align: center;
    margin-top: 50px;
  }
  
  nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  nav .circle{
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: rgb(255, 255, 255);
  }
  
  .songp img{
    width: 220px;
    border-radius: 10px;
  }
  
  .music_player h1{
    font-size: 20px;
    color: white;
    font-style: bold;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .music_player p{
    font-size: 14px;
    color: #989898;
    margin-top: 10px;
  }
  
  #progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #ffffffa6;
    border-radius: 5px;
    margin: 40px 0;
    cursor: pointer
  }
  
  #progress::-webkit-appearance{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
  }
  
  .controls{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controls div{
    width: 40px;
    height: 40px;
    margin: 20px;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    box-shadow: 0 10px 20px rgba(126, 76, 76, 0.22);
    cursor: pointer;
  }
  
  .controls div:nth-child(2){
    transform: scale(1.5);
    background: #55ca86;
    color: rgb(0, 0, 0);
  }
  
  /* Music Player */
  .music-player {
    color: #fff;
    background-color: #202026;
    border-radius: 6px;
  
    display: flex;
    flex-direction: column;
  }
  
  .music-player .top-section {
    padding: 30px;
  }
  
  .music-player .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .music-player .song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
  }
  
  .music-player .song-info img {
    width: 280px;
    border-radius: 10px;
  }
  
  .music-player .description h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  .music-player .description h5 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .music-player .description p {
    color: #919191;
    font-size: 12px;
    font-weight: bold;
  }
  
  .music-player .progress {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .music-player .progress p {
    font-size: 11px;
  }
  
  .music-player .progress .active-line {
    position: relative;
    width: 120px;
    height: 2px;
    background-color: #fff;
    margin-left: 30px;
  }
  
  .music-player .progress .deactive-line {
    width: 80px;
    height: 2px;
    background-color: #919191;
    margin-right: 30px;
    
  }
  
  .music-player .progress .active-line::before {
    content: "";
    background-color: #25252d;
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    position: absolute;
    top: -6px;
    left: 120px;
    border-radius: 50%;
  }
  
  .music-player .player-actions {
    background-color: #000000;
    height: 13%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  
  .music-player .player-actions .buttons {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 24px;
  }
  
  .music-player .player-actions .buttons i {
    font-size: 20px;
  }
  
  .music-player .player-actions .buttons .play-button {
    padding: 16px;
    background-color: #fff;
    color: #55ca86;
    border-radius: 18px;
  }
  
  .music-player .player-actions .lyrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 8px;
  }
  
  .trending {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #b54086, #48376b);
    border-radius: 10px;
    padding-left: 250px;
    padding-top: 90px;
    color: white;
  }
  
  .trending .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .trending .left h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
  }
  
  .trending .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .trending .info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .trending .info h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .trending .info h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .trending .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .trending .buttons button {
    background-color: #55ca86;
    color: #fff;
    border: none;
    padding: 10px 70px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .trending .buttons i {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .trending img {
    height: 240px;
    object-fit: cover;
    padding-right: 380px;
  }
  
  .songs{
    padding: 20px 250px;
    color: white;
  }
  
  .view{
    display: flex;
    justify-content: flex-end;
    padding-right: 160px;
  }
  
  .view a{
    color: white;
    text-decoration: none;
  }
  
  .songs h2{
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .songs .list{
    display: flex;
    font-size: 22px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .songs .list .item{
    display: flex;
    min-width: 140px;
    width: 900px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  
  .songs .list .item:hover{
    background-color: #252525;
  }
  
  .songs .list .item img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }
  
  .songs .list .item .play{
    position: relative;
  }
  
  .songs .list .item .play .fa_play{
    position: absolute;
    left: 725px;
    bottom: -5px;
    padding: 18px;
    background-color: #55ca86;
    color: #000;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    opacity: 0;
    transition: all ease 0.4s;
  }

  #title{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .buttonl{
    margin-top: -7px;
  }
  
  .songs .list .item:hover .play .fa_play{
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .songs .list .item h4{
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .songs .list .item p{
    color: #989898;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  
  .songs a{
    text-decoration: none;
    color: white;
  }
 
  /* Responsive untuk perangkat kecil */
  @media (max-width: 768px) {
    .header-content {
      width: 90%;
    }
  
    .search-bar {
      margin: 0 10px;
    }
  
    .icon-img {
      width: 25px;
      height: 25px;
    }
  }